
        :root {
        --main: #bd0034;
        --light: #ffffff;
        --dark: #000000;
        --bg: #ff0046;
        }
        .footer{
            width: 100%;
            padding: 10px;
            height: 300px;
            background-color:var(--light);
        }
        .footer .form{
            display: flex;
            flex-direction: row;
            gap: 20px;
            
        }
    
        .footer .form .like{
            width: 30%;
            height: 200px;
            border-radius:10px;
            background-color: var(--light);
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .footer .form .like h1{
            color: var(--main);
        }

        .footer .form .like .links{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .footer .form .like .links label{
            text-decoration: none;
            color: var(--light);
            background-color: var(--main);
            padding: 10px;
            transition: 0.7s;
        
        }
        .footer .form .like .links input[type="radio"]{
            display: none;
        }
        .footer .form .like .links input[type="radio"]:checked~label{
            background-color: var(--light);
            color: var(--main);
            box-shadow: 0px 5px 6px var(--dark);
        }   
        .footer .form .like .links label:hover{
            background-color: var(--light);
            color: var(--main);
            transform: scale(1.2);
            box-shadow: 0px 5px 6px var(--dark);
        }

        .footer form{
            display: flex;
            width: 80%;
            margin: auto;
            flex-direction: row;
            gap:40px;
            align-items: center;
            justify-content: center;
            background-color: var(--main);
            padding: 10px;

            border-radius: 20px;
        }
        .footer form h1{
            text-align: center;
            color:var(--light);
        }
        .footer form textarea{
            width: 300px;
            border-radius: 20px;
            padding:20px; 
            margin: auto;
        }
        .footer form input[type="submit"]{
            width:140px;
            padding:10px;
            margin: auto;
            background-color: var(--light);
            color: var(--main);
            border: none;
            transition: 0.7s;
        }
        .footer form input[type="submit"]:hover{
            background-color: var(--main);
            color: var(--light);
            cursor: pointer;
            box-shadow: 0px 5px 6px var(--dark);
        }
        .footer .bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:20px;
        }
        * { box-sizing: border-box; } body {margin: 0;}#iayg{padding:10px;margin:10px;border:1px solid #ccc;font-family:Impact, Charcoal, sans-serif;}
    